/*******************
    Elements || tags
*******************/
body{
    background-color: antiquewhite;
}
nav{
    background-color: #2e3830;
}
nav a{
    display: block;
    color: #e6dbc9;
    padding: 5px;
    text-align: center;
    transition: all .25s ease-in-out;
    font-size: 1.3em;
    line-height: 1.5em;
}
nav a:hover{
    background-color: #c53211;
    color: #FFF;
    letter-spacing: .25em;
    text-transform: uppercase;
}
/*******************
    Class
*******************/
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.spacer{
    background-color: #00303F;
    line-height: 1.5em;
    color: antiquewhite;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
}


/*******************
    Flex Styles
*******************/
@media screen and (min-width: 768px){

ul{
    display: flex;
    justify-content: flex-start;
}

.my-menu{
    display: flex;
    justify-content:flex-end;
}
nav li{
    flex: 1 1 0;
}

.my-menu li{
    flex: 0;
}
.my-menu a:hover{
    letter-spacing: 0;
    text-transform: none;
}




}/* END Flex Styles */
