body{background-color: #fa625f;}
.wrapper{
    background-color: #f2f2f2;
    color: #005995;
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 5px;
    box-sizing: border-box;
}
.column{
    float: left;
    margin: 1%;
    padding: 1%;
    padding-top: 0;
    box-sizing: border-box;
    width: 23%;
    border-left: 1px solid #600473;
}
.column:first-child{
    border-left: none;
    padding-left: 0;
}
.txt{
    padding-top: 15px;
}
.txt:first-child{
    padding-top: none;
}
