div{
    background-color: green;
    font-size: 2em;
    color: white;
    text-align: center;
}
.bird-e{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 25%;
    height: 25%;
    animation: swoop 2s linear forwards;
    animation-delay: 1s;
}
@keyframes swoop {
    from{
        transform: translate(0)
        scale(.11);
    }
    to{
        transform: translate(945px, 450px)
        scale(1);
    }
}

.bird-p{
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 15%;
    height: 15%;
    animation: runs 2s linear forwards;
    animation-delay: 1s;
}
@keyframes runs {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(1075px)
        scale(1);
    }
}

.color-div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: tada;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    position: relative;
}
@keyframes tada {
    0%
    {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25%
    {
        background-color: yellow;
        left: 100px;
        top: 50px;
    }
    50%
    {
        background-color: blue;
        left: 200px;
        top: 100px;
    }
    75%
    {b
        ackground-color: orange;
        left: 300px;
        top: 150px;
    }
    100%
    {
        background-color: green;
        left: 400px;
        top: 200px;
    }
}

a::after{ content: "  -->";}
