
/****************
Basic
****************/
body{
	padding-bottom: 50px;
}
a{
overflow: hidden;
float: left;
}
section {
  margin: 0 50px;
}
h1 {
  font-size: 70px;
  line-height:1.4;
  font-weight: bold;
  color: #00789E;
  text-align: center;
}
h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin: 10px 0;
}
p {
  font: normal normal 18px/1.6 Georgia, 'Times New Roman', serif;
}

/*******************
Class
*******************/

.alt-headline {font-size: 40px;}

.wrapper{
	margin: 0 auto;
	width: 960px;
	box-sizing: border-box;
}
.secondary-section{
	margin: 60px 0;
	background-color: #FAEDB7;
}
.stick {
position: sticky;
top: 100px;
}
.content-block{margin: 0 auto;}
.top-border {
	background-image: url("topBorder.png");
	background-repeat: repeat-x;
	height: 134px;
	position: sticky;
	top: 0;
	margin: 0;
/*to hide my-buttons under menu*/
	z-index: 1;
}
/*
.my-text{
	position: sticky;
}
*/
/******************
	Main Navigation
******************/
.nav-section{
	position: absolute;
	top: 134px;
	margin: inherit;
	left: 0;
	right: 0;
}
.nav-wrapper{
background: linear-gradient(
	to right,  #FAEDB7 0%,#FFF 47%);
}
.nav-menu{
	float: right;
	background-color: inherit;
}
.nav-menu > li{float: left;}
.nav-menu > li > a{
	float: left;
	padding: 15px 0;
	width: 150px;
	border-left: 1px solid #00789E;
}
.nav-menu >li:first-child a{
	border-left: none;
}
.nav-menu li{
	background-color: inherit;
}
.nav-menu li a{
	background-color: inherit;
	font-family: Arial, Helvetica, sans-serif;
	color: #00789E;
	text-transform: uppercase;
	font-size: 1.4em;
	letter-spacing: 1.25px;
	text-align: center;
	transition: .25s all linear;
}
.nav-menu li a:focus,
.nav-menu li a:hover,
.nav-menu li a.active{
	background-color: #00789E;
	color: #FFF;
}
/*******************
Columns X 4
*******************/
.column{
	float: left;
	width: 210px;
	margin-left: 35px;
	padding-bottom: 20px;
}
.column:first-child{
	margin-left: 0;
}

/*******************
ID
*******************/


/*******************
Descendant Selectors
*******************/
.nav-figure a{
	box-sizing: border-box;
	border: 10px solid #00789E;
}
.succingi img{
	float: left;
	margin-right: 20px;
}
.succingi h1{
	margin-bottom: 15px;
}
.secondary-section h2{
	font-style: normal;
	color: #A072AE;
	font-weight: bold;
}
.secondary-section  p{
	margin-bottom: 15px;
}
.nav-figure a img{
	float: left;
	transition: .25s all ease-in-out;
}
.nav-figure a img:hover{
/* scale(horizontal, vertical)*/
	transform: rotate(15deg) scale(1.30, 1.30);
}

/***************
Modular Styles
***************/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.bold {
  font-weight: bold;
}
.hidden,
.hide {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-centered {
  text-align: center;
}

/*******************
Buttons
*******************/
.my-button{
	border: 2px solid #00789E;
	border-left: 3px solid #00789E;
	color: #00789E;
	padding: 5px 10px;
	margin: 0 10px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 1.5em;
	transition: .25s all linear;
	transform: scale(.9,.9);
}
.my-button:focus,
.my-button:hover{
	background-color: #00789E;
	color: #FFF;
	/*https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
	border-radius: 20% / 50%;
	transform: scale(1.1,1.1) translate(0,-5px);
}
.succingi .my-button{
	width: 30%;
	margin-bottom:  15px;
	margin-right: 25px;
}
/*********************
Go Premium
*********************/
.intro-content{
	width: 500px;
	margin-right: 60px;
	float: left;
}
.go-premium{
	width: 300px;
	float: left;
	margin: 30px 0;
}
.call-to-action{
	width: 100%;
	border: 2px solid #FFF;
	color: #FFF;
	background-color: #00789E;
	padding: 25px 0;
	display: block;
	text-align: center;
	border-radius: 10px;
	font-size: 22px;
	font-weight: bold;

/************************************************************
	Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33d3ff+0,00789e+76
************************************************************/
/* Old browsers */
background: #00789e;
/* FF3.6-15 */
background: -moz-linear-gradient(top,  #33d3ff 0%, #00789e 76%);
/* Chrome10-25,Safari5.1-6 */
background: -webkit-linear-gradient(top,  #33d3ff 0%,#00789e 76%);
/* W3C, IE10+, FF16+, Chrome26+,
	Opera12+, Safari7+ */
background: linear-gradient(to bottom,  #33d3ff 0%,#00789e 76%);
/* IE6-9 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d3ff', endColorstr='#00789e',GradientType=0 );
/***************************
	^^^ END Gradient ^^^
***************************/

transition: all .25s linear;
}
.call-to-action:hover{
	border-color: #00789E;
	background: none;
	color: #00789E;
}
.go-premium p{
	font-size: 14px;
	text-align: center;
}
.go-premium p a{
	width: 100%;
	color: red;
}
