.nav-menu{
    margin: 0 auto;
    width: 100%;
}
nav{position: relative;}
nav,ul{width: 100%;height: 70px;}
nav > ul{
    background-color: aqua;
    font-size: 48px;
    /*Tangerine is a google fonts*/
    font-family: 'Tangerine', serif;
}
nav > ul >li {
    list-style: none;
    display: inline-block;
    padding: 5px 25px;
    width: 75px;
    position: relative;
    height: 60px;
}
nav > ul:first-child >li {
    /*padding-left: 0;*/
}
nav > ul >li:hover {
    color: antiquewhite;
    background-color: navy;
}

/*************************
    nav-sub
************************/
.nav-sub {
    position: absolute;
    left: 0;
    top: 70px;
    opacity: 0;
    z-index: -1;
}
.nav-sub>li{
    background-color: steelblue;
    background-color: steelblue;
    width: 75px;
    padding: 5px 25px;
}
nav li:hover .nav-sub{
    opacity: 1;
}
.nav-sub > li:hover{
    background-color: navy;
}
