*{box-sizing: border-box;}
body{
    background-color: antiquewhite:
}
.box{
    background-color: forestgreen;
    border: 6px solid lightgreen;
    color: #FFF;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.box::after{content: " ";}
.fill{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(auto-fill, 450px); */
    grid-template-columns: repeat(auto-fill, minmax(325px,1fr));
    grid-gap: 20px;
    margin: 20px;
    }
.fit{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px,1fr));
    grid-gap: 20px;
    margin: 20px;
}
