body{
    background-color: antiquewhite;
}
article{
    width: 960px;
    top: 0;
    margin: 0 auto;
    background-color: #fff;
    border: 5px solid #fa625f;
}
.wrap-side{
    position: relative;
    top: -487px;
    left: 0;
    right: 0;
    padding-bottom: 35px;
    border-top: 1px solid #005995;
}
.right-side{
    position: sticky;
    top: 133px;
    left: 80%;
    width: 300px;
    background-color: #FFF;
    padding: 15px;
    border: 5px solid #fa625f;
    display: inline-block;
}
.left-side{
    position: sticky;
    left: 5%;
    top: 133px;
    width: 300px;
    background-color: #FFF;
    padding: 15px;
    border: 5px solid #fa625f;
    display: inline-block;
}
.txt p{
    margin: 0 auto;
    width: 75%;
    padding: 20px 0 0 0;
    text-align: left;
}
.txt:last-child > p:last-child{
    padding: 20px 0;
}
.wrapper{
    background-color: #600473;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 5px solid #fa625f;
}
.wrapper li{
    color: #fbf579;
    margin: 0 10px;
    float: right;
    list-style: none;
}
.wrapper li:first-child{
    margin-right: 2.5%;
}
