*{box-sizing: border-box;margin: 0;padding: 0;}
body{background-color: forestgreen;}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: column;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px;
    margin-top: 40px;
}
.grid div{
    border: 1px solid rgb(0,95,197);
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgba(0, 51, 25, 0.75);
    font-size: 3em;
    text-align: center;
    margin: 0 15px;
    order: 3;
}
.grid div::after{content: " ";}

.grid div:nth-child(4){order: 1;}
.grid div:nth-child(8){order: 2;}
.grid div:nth-child(1){order: 9;}

.abc{
    grid-auto-flow: row;
}
