body{
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-bottom: 45px;
}
header > h1{
    text-align: center;
    font-size: 3em;
    background-color: rgba(250,0,0,0.10);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    max-width: 80%;
    margin: 0 auto 3% auto;
}
.wrapper{
    display: grid;
    max-width: 90%;
    margin-left: 5%;
}

.box-img1{grid-area: box-img1;}
.box-img2{grid-area: box-img2;}
.box-img3{grid-area: box-img3;}
.box-img4{grid-area: box-img4;}
.box-img5{grid-area: box-img5;}
.box-img6{grid-area: box-img6;}
.box-img7{grid-area: box-img7;}
.box-img8{grid-area: box-img8;}
.box-img9{grid-area: box-img9;}

.wrapper > img{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    max-width: 95%;
    transition: box-shadow 1s;
}
.wrapper > img:hover{
    box-shadow: 10px 10px 10px rgba(59,11,48,0.5);
}
/**************************************
===============|
==>    @media    <==
===============|
**************************************/
@media screen and (min-width: 980px){
    body{background-color: yellow;}
    /*
        .wrapper{
            grid-template-columns: 24% 24% 24% 24%;
            grid-template-rows: auto;
            grid-row-gap: 10px;
            grid-template-areas:
            "box-img5" "box-img6" "box-img7" "box-img9"
            "box-img1" "box-img2" "box-img3" "box-img4"
            "box-img8" "box-img8" "box-img8" "box-img8";

        }
        .box-img1{
            grid-column: 0/1;
            grid-row: 0/1;
            margin: 0;
            padding: 0;
        }
        .box-img2{
            grid-column: 1/2;
            grid-row: 0/1;
            margin: 0;
            padding: 0;
        }
        .box-img3{
            grid-column: 2/3;
            grid-row: 0/1;
            margin: 0;
            padding: 0;
        }
        .box-img4{
            grid-column: 3/4;
            grid-row: 0/1;
            margin: 0;
            padding: 0;
        }
        .box-img5{
            grid-column: 0/1;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img6{
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img7{
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img8{
            grid-column: 0/4;
            grid-row: 3/4;
            margin: 0 0 0 2%;
            padding: 0;
        }
        .box-img9{
            grid-column: 3/4;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
    */
}/*END: @media 980px */

@media screen and (min-width: 480px){
    header > h1{
        background-color: aqua;
    }
    .wrapper{
        grid-template-columns: auto;
        grid-template-rows: auto ;
        grid-template-areas:
          "box-img1"
          "box-img2"
          "box-img3"
          "box-img4"
          "box-img5"
          "box-img6"
          "box-img7"
          "box-img8"
          "box-img9";
    }
}/*END: @media 640px */
