body{
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-bottom: 45px;
}
header > h1{
    text-align: center;
    font-size: 3em;
    background-color: rgba(250,0,0,0.10);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    max-width: 80%;
    margin: 0 auto 3% auto;
}
.wrapper{
    display: grid;
    max-width: 90%;
    margin-left: 5%;

        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: auto;
        grid-row-gap: 10px;
}

.box-img1{
    grid-area: box-img1;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
}
.box-img2{
    grid-area: box-img2;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}
.box-img3{
    grid-area: box-img3;
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 0;
    padding: 0;
}
.box-img4{
    grid-area: box-img4;
    grid-column: 4/5;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
}
.box-img5{
    grid-area: box-img5;
    grid-column: 4/5;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}
.box-img6{
    grid-area: box-img6;
    grid-column: 2/4;
    grid-row: 1/5;
    margin: 0;
    padding: 0;
}
.box-img7{
    grid-area: box-img7;
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0;
    padding: 0;
}
.box-img8{
    grid-area: box-img8;
    grid-column: 1/5;
    grid-row: 4/5;
    padding: 0;
    margin: 0 0 0 2%;
}
.box-img9{
    grid-area: box-img9;
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 0;
    padding: 0;
}

.wrapper > img{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    max-width: 95%;
    transition: box-shadow 1s;
}
.wrapper > img:hover{
    box-shadow: 10px 10px 10px rgba(59,11,48,0.5);
}
/**************************************
===============|
==>    @media    <==
===============|
**************************************/
@media screen and (max-width: 1700px){
        .wrapper{
            grid-template-columns: 24% 24% 24% 24%;
            grid-template-rows: auto;
            grid-row-gap: 10px;
            grid-template-areas:
            "box-img1" "box-img2" "box-img3" "box-img4"
            "box-img5" "box-img6" "box-img7" "box-img9"
            "box-img8" "box-img8" "box-img8" "box-img8";

        }
        .box-img1{
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img2{
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img3{
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 0;
            padding: 0;
        }
        .box-img4{
            grid-column: 1/2;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
        .box-img5{
            grid-column: 2/3;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
        .box-img6{
            grid-column: 2/5;
            grid-row: 1/4;
            margin: 0;
            padding: 0;
        }
        .box-img7{
            grid-column: 3/4;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
        .box-img8{
            grid-column: 1/5;
            grid-row: 5/6;
            margin: 0 0 0 2%;
            padding: 0;
        }
        .box-img9{
            grid-column: 4/5;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
}/*END: @media 1700px */

@media screen and (max-width: 980px){
    body{background-color: pink;}
    header h1{font-size: 2em;}
        .wrapper{
            grid-template-columns: 31% 31% 31%;
            grid-template-rows: auto;
            grid-row-gap: 10px;
            grid-template-areas:
            "box-img1" "box-img2" "box-img3"
            "box-img4" "box-img5" "box-img9"
            "box-img7" "box-img6" "box-img6"
            "box-img8" "box-img8" "box-img8";
        }
        .box-img1{
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img2{
            grid-column: 2/3;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img3{
            grid-column: 3/4;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img4{
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img5{
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img9{
            grid-column: 3/4;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img7{
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 0;
            padding: 0;
        }
        .box-img8{
            grid-column: 1/4;
            grid-row: 4/5;
            margin: 0 0 0 2%;
            padding: 0;
        }
        .box-img6{
            grid-column: 2/4;
            grid-row: 3/4;
            margin: 0;
            padding: 0;
        }
}/*END: @media 980px */

@media screen and (max-width: 659px){
    body{background-color: pink;}
    header h1{font-size: 1.5em;}
        .wrapper{
            grid-template-columns: 48% 48%;
            grid-template-rows: auto;
            grid-row-gap: 10px;
            grid-template-areas:
            "box-img8" "box-img8"
            "box-img1" "box-img2"
            "box-img3" "box-img4"
            "box-img5" "box-img6"
            "box-img7" "box-img9";
                margin-left: 10%;
        }
        .box-img1{
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img2{
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 0;
            padding: 0;
        }
        .box-img3{
            grid-column: 1/2;
            grid-row: 3/4;
            margin: 0;
            padding: 0;
        }
        .box-img4{
            grid-column: 2/3;
            grid-row: 3/4;
            margin: 0;
            padding: 0;
        }
        .box-img5{
            grid-column: 1/2;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
        .box-img9{
            grid-column: 2/3;
            grid-row: 4/5;
            margin: 0;
            padding: 0;
        }
        .box-img7{
            grid-column: 1/2;
            grid-row: 5/6;
            margin: 0;
            padding: 0;
        }
        .box-img8{
            grid-column: 1/3;
            grid-row: 1/2;
            margin: 0;
            padding: 0;
        }
        .box-img6{
            grid-column: 2/3;
            grid-row: 5/6;
            margin: 0;
            padding: 0;
        }
}/*END: @media 659px */

@media screen and (max-width: 480px){
    header > h1{
        background-color: aqua;
        font-size: 1.1em;
    }
    .wrapper{
        margin-left: 10%;
        grid-template-columns: auto;
        grid-template-rows: auto ;
    }
    .box-img1{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0;
        padding: 0;
    }
    .box-img2{
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0;
        padding: 0;
    }
    .box-img3{
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0;
        padding: 0;
    }
    .box-img4{
        grid-column: 1/2;
        grid-row: 4/5;
        margin: 0;
        padding: 0;
    }
    .box-img5{
        grid-column: 1/2;
        grid-row: 5/6;
        margin: 0;
        padding: 0;
    }
    .box-img9{
        grid-column: 1/2;
        grid-row: 6/7;
        margin: 0;
        padding: 0;
    }
    .box-img7{
        grid-column: 1/2;
        grid-row: 7/8;
        margin: 0;
        padding: 0;
    }
    .box-img8{
        grid-column: 1/2;
        grid-row: 9/10;
        margin: 0;
        padding: 0;
    }
    .box-img6{
        grid-column: 1/2;
        grid-row: 8/9;
        margin: 0;
        padding: 0;
    }
}/*END: @media 640px */

@media screen and (max-width: 480px){
    header > h1{
        background-color: aqua;
    }
    .wrapper{
        grid-template-columns: auto;
        grid-template-rows: auto ;
        grid-template-areas:
          "box-img1"
          "box-img2"
          "box-img3"
          "box-img4"
          "box-img5"
          "box-img6"
          "box-img7"
          "box-img8"
          "box-img9";
    }
}/*END: @media 640px */
