
/*******************
    Elements || tags
*******************/
body{
    background-color: antiquewhite;
}
/*******************
    Class
*******************/
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
/*-- set as 'FLEX' --*/
/* Remember when flex is used empty containers IE div are visible & have size */
.flex-container{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.box{
    height: 200px;
    min-width: 400px;
    flex-grow: 1;/* All elements with this class will grow equally*/
}
.one{
    background-color: #005995;
}
.two{
    background-color: #fa625f;
}
.three{
    background-color: #600473;
}
/*******************
    IDs
*******************/

/*******************
    parent child
*******************/
