body{
    background-color: antiquewhite;
    box-sizing: border-box;
    margin-bottom: 45px;
}
header > h1{
    text-align: center;
    font-size: 3em;
    background-color: rgba(250,0,0,0.10);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
    max-width: 80%;
    margin: 0 auto 3% auto;
}
.wrapper > img{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.box-img1{
    grid-area: box1;
    margin: 0;
    padding: 0;
}
.box-img2{
    grid-area: box2;
    margin: 0;
    padding: 0;
}
.box-img3{
    grid-area: box3;
    margin: 0;
    padding: 0;
}
.box-img4{
    grid-area: box4;
    margin: 0;
    padding: 0;
}
.box-img5{
    grid-area: box5;
    margin: 0;
    padding: 0;
}
.box-img6{
    grid-area: box6;
    margin: 0;
    padding: 0;
    max-width: 95%;
}
.box-img7{
    grid-area: box7;
    margin: 0;
    padding: 0;
}
.box-img8{
    grid-area: box8;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    max-width: 90%;
    margin-left: 5%;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;
    grid-column-gap: 1.3333%;
    grid-row-gap: 2%;
    grid-template-areas:
        "box1 box2 box3 box4"
        "box6 box6 box5 ."
        "box6 box6 box7 ."
        "box8 box8 box8 box8";
}
