nav{
    display: flex;
    border-bottom: 1px solid #CCC;
}

a{
    margin: 0 5px;
    padding: 5px 15px;
    border-radius: 3px 3px 0 0;
    background-color: #DDAA00;
    text-decoration: none;
    color: #FFF;
}
a:hover, a:focus, a:active{
    background-color: #FFCC22;
    color: #000;
}
body{background-color: antiquewhite;}
