
/*******************
    Elements || tags
*******************/
body{
    background-color: antiquewhite;
}
/*******************
    Class
*******************/
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
/*-- set as 'FLEX' --*/
/* Remember when flex is used empty containers IE div are visible & have size */
.flex-container{
    display: flex;
    height: 250px;
    background-color: white;
}
.box{
    min-height: 100px;
    min-width: 100px;
}
.one{
    background-color: #005995;
/* flex-grow in comparision to width of container that is 'flex'*/
    flex-grow: 1;
}
.two{
    background-color: #fa625f;
    flex-grow: 2;
}
.three{
    background-color: #600473;
    flex-grow: .5;
}
/*******************
    IDs
*******************/

/*******************
    parent child
*******************/
